.canvas {
    border-style: solid;
    border-color:white;
}

.score {
    color: white;
    float: right;
}

.players {
    color: white;
}

.novisible {
    visibility: hidden;
}

.hidden {
    display: none;
}
